.branchlist {
    padding: 0 15px;
    padding-bottom: 15px;
}

.branchlist_card {
    padding: 15px;
    background: #FFF;
    color: #3A4454;
    font-family: 'Lato Regular';
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
}

.branchlist_card .branchTitle span:first-child {
    font-size: 12px;
    font-family: 'Lato Medium';
    text-transform: capitalize;
    color: #3A4454;
    margin-bottom:5px;
}

.branchlist_card .branchSubtitle {
    color: #3A4454;
    font-family: 'Lato Medium';
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.branchlist_card .branchDistance {
    position: absolute;
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #54616D;
    top: 15px;
    right: 15px;
}