.branchlist {
    padding: 0 15px;
    padding-bottom: 15px;
}

.branchlist_card {
    padding: 15px;
    background: #FFF;
    color: #3A4454;
    font-family: 'Lato Regular';
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
}

.branchlist_card .branchTitle {
    font-size: 15.33px;
    font-family: 'Lato Regular';
    margin-bottom:5px;
}

.branchlist_card .branchSubtitle {
    font-size: 13.33px;
    font-family: 'Lato Light';
    margin: 0;
}

.branchlist_card .branchDistance {
    position: absolute;
    font-family: 'Lato Medium';
    top: 15px;
    right: 15px;
    font-size: 15.33px;
}