.card {
    box-shadow: 0px 4px 5px #DCE1E9;
    background: #FFFFFF;
    position: relative;
    border: 1px solid #DCE1E9;
    border-radius: 5px;
    width: 100%;
}

.card__header {
    padding: 1.041em;
    text-align: center;
    position: relative;
}

.card__body {
    border-top: 1px solid #DBE0E6;
    border-bottom: 1px solid #DBE0E6;
    padding: 1.041em;
    text-align: center;
    height: auto;
}

.card__body-text label {
    font-size: 12px;
    padding: 0 !important;
    margin-bottom: 0px;
    color: #54616D;
}

.card__body-progressBar-Container {
  padding: 15px 5px;
}

.card__footer {
    background: #FFFFFF;
    text-align: center;
    padding: 1.041em;
}

.card__footer a, .card__footer-2-col a {
    color: #029CD8;
    text-decoration: none;
}

.card__footer-2-col {
    background: #FFFFFF;
    height: 100%;
    width: 50%;
    padding: 1.041em;
    display: inline-block;
    text-align: center;
}

.card__footer-2-col--borderLeft {
  border-left: 1px solid #DBE0E6;
}



/*Esta utilidad sirve para rotar 180° <i class="banicon banicon-left-arrow"></i>. La arrow señalaria hacia la derecha*/

.card .u-right-arrow {
    font-family: 'Banesco';
    font-size: 9px;
}

.card .u-right-arrow::before {
  content: '\E90D';
}

.card__header-arrow {
    height: 100%;
    line-height: 100%;
    margin-top: -1.041em;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 15px;
    padding: 0;
    width: auto;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);>
}

.card__header-titleH1Container {
    display: inline-block;
    padding: 0;
    font-size: 14px;
    text-transform: none;
    color: #3A4454;
}

.card__header-titleH2Container {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    width: auto;
    margin-left: 8px;
    color: #54616D;
    text-transform: none;
}


.card__header-contentNumber {
  /*font-size: 1.708em;*/
  font-size: 27.33px;
  color: #3a4454;
}

.card__header-actionLink {
  color: #2b5f8c;
  /*font-size: 0.750em;*/
  font-size: 12px;
}
