body.general {
	background: #EBF0F5;
}

.contactCallRow {
	position: relative;
	height: 70px;
	background: #FFF;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.contactCallBtn {
	position: absolute;	
	background: transparent;
	height: 70px;
}

.iconContact {
	width: 25%;
	height: 70px;
	line-height: 70px;
	text-align: center !important;
	border-right: 1px solid #ebf0f5;
	padding: 0;
}

.titleContact{
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 20px;
	color: #3A4454
}

.titleContactMail {
	margin-top: 40px
}

.ContactCall::before,
.ContactEmail::before {
	padding: 0px;
	line-height: inherit;
}

.infoContact {
	padding-top: 25px;
	padding-left: 20px; 
	font-family: "Lato Light";
    color: #3A4454;
}

.from {
	line-height: 2px;
	font-family:"Lato Regular";
}
