.LoginContainer{
  background-color:#ffffff;
  margin-bottom:5px;
  font-size:16px;
  border-radius:5px;
  padding: 15px;
}

.login {
  padding-top: 0;
}

.login #form1, .login_night #form1 {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.login input {
  height: 40px;
  font-size: 0.833em;
  color: #3a4454;
  margin-bottom: 5px;
}

.login .input-group {
  padding-top: 15px;
}

.error_login_inputs {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #E31D18;
  text-transform: initial;
}

.login_night {
  padding-top: 0;
}

.login_night input {
  height: 40px;
  font-size: 0.833em;
  color: #3a4454;
  margin-bottom: 5px;
}

.login_night .input-group {
  padding-top: 15px;
}

.login input:focus, .login_night input:focus {
  border: 1px solid #CCCCCC !important;
  border-left: none !important;
  box-shadow: 0px 0px 3px 0px #CCCCCC;
}

/* cambiar */

.login_img_logo {
  margin-bottom: -15px;
}

.error_login_inputs_row {
  position: absolute;
}

.login #EDGE_CONNECT_PROCESS, .login_night #EDGE_CONNECT_PROCESS {
    padding-top: 70px; 
  }

@media (min-height: 475px) {

  .login #EDGE_CONNECT_PROCESS, .login_night #EDGE_CONNECT_PROCESS {
    height: auto;
    position: absolute;
    bottom:0;
  } 
  
}