.movement {
	background: #FFF;
	margin-bottom: 3px;
	padding: 3%;
	border-radius: 3px;
	text-transform: initial;
  position: relative;
}

.movement:last-child {
  margin-bottom: 0;
}

.movement label {
	margin-bottom: 0;
}

.movement .ecDIB {
	vertical-align: middle;
}

.transaction_icon {
	display: inline-block;
}

/*
.transaction_icon.cred {
	background: #859CCF;
}

.transaction_icon.deb {
  	background: #F68A70;
} */

.transaction_icon.cred::before,
.transaction_icon.deb::before {
    font-family: "Banesco";
    display: inline-block;
    font-size: 37px;
    line-height: 37px;
    position: absolute;
    height: 37px;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*
.transaction_icon.cred::before {
	content: '+';
	margin-top: -1px;
}
.transaction_icon.deb::before {
	content: '–';
	margin-top: -3px;
}*/

.transaction_icon.cred::before {
	color: #859CCF;
	content: "\E948";
}
.transaction_icon.deb::before {
	color: #F68A70;
	content: "\E946";
}

.desc_mv label, .desc_mv span {
    color: #3a4454;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Lato Regular";
}

@media (min-width:326px) {
	.desc_date label, .desc_date span, .desc_cur label, .desc_cur span, .desc_mv label, .desc_mv span {
		font-size: 12px;
	}
}

@media (max-width:325px) {
	.desc_date label, .desc_date span, .desc_cur label, .desc_cur span, .desc_mv label, .desc_mv span {
		font-size: 10.33px;
	}
}

.desc_date label, .desc_date span {
    color: #54616d;
}

.desc_cur.negative label, .desc_cur.negative span  {
    color: #E31D19;
}

.desc_cur.negativedeb label, .desc_cur.negativedeb span  {
    color: #E31D19;
}

.desc_cur.negativedeb label, .desc_cur.negativedeb span:before {
	content:'- ';
}

.title_mv {
	font-size: 12px;
	color: #708090;
	font-weight: bold;
}

.title_cont{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5%;
	margin-right:5%;
}

/* Monthly Period */

.movs-period-icon {
	font-family: "Banesco";
  font-size: 32px;
  color: #1F8C6B;
  display: block;
}

.movs-period-icon:before {
	content:'\E939';
}

.spanStyle span {
  color: #1F8C6B;
  font-weight: bold;
}

.carousel_btn > span {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
}

.carousel_btn{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transaction_period {
  display: inline-block;
  vertical-align: middle;
  background: #FFF;
  margin-bottom: 3px;
  padding: 3%;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Lato Regular", courier;
  font-size: 12px;
  color: #708090;
}

  .transaction_period.statement::before {
	width: 0px;
    height: 0px;
  	font-family: "Banesco";
	color: #00B395;
	content: "\E924";
  	margin-top: -1px;
    vertical-align: middle;
    font-size: 20px;
    font-stretch: 100%;
    line-height: 100%;
  }

.period {
  position: relative;
}  
  
.period .u-right-arrow {
    font-family: 'Banesco';
    font-size: 9px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);>
}

.period .u-right-arrow::before {
  content: '\E90D';
}

.period .u-right-up {
    font-family: 'Banesco';
    font-size: 9px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);>
}

.period .u-right-up::before {
  content: '\E90D';
}

.period .u-right-down {
    font-family: 'Banesco';
    font-size: 9px;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);>
}

.period .u-right-down::before {
  content: '\E90D';
}

.period .detail_btn {
  position:absolute;
  top:0;
  right:0;
  left: 0;
  bottom:0;
}