.movement {
	background: #FFF;
	margin-bottom: 3px;
	padding: 3%;
	border-radius: 3px;
	text-transform: initial;
  position: relative;
}

.movement:last-child {
  margin-bottom: 0;
}

.movement label {
	margin-bottom: 0;
}

.movement .ecDIB {
	vertical-align: middle;
}

.transaction_icon {
	display: inline-block;
}

/*
.transaction_icon.cred {
	background: #859CCF;
}

.transaction_icon.deb {
  	background: #F68A70;
} */

.transaction_icon.cred::before,
.transaction_icon.deb::before {
    font-family: "Banesco";
    display: inline-block;
    font-size: 37px;
    line-height: 37px;
    position: absolute;
    height: 37px;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*
.transaction_icon.cred::before {
	content: '+';
	margin-top: -1px;
}
.transaction_icon.deb::before {
	content: '–';
	margin-top: -3px;
}*/

.transaction_icon.cred::before {
	color: #859CCF;
	content: "\E948";
}
.transaction_icon.deb::before {
	color: #F68A70;
	content: "\E946";
}

.desc_mv label, .desc_mv span {
    color: #3a4454;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Lato Regular";
}

@media (max-width: 380px) {
 .desc_date label, .desc_date span {
  font-size: 9px;
 }

 .desc_cur label, .desc_cur span {
  font-size: 13px;
 }

 .desc_mv label, .desc_mv span {
  font-size: 10.66px;
 }
}

@media (min-width: 381px) {
 .desc_date label, .desc_date span {
    font-size: 12px;
 }

 .desc_cur label, .desc_cur span {
  font-size: 16px;
 }

 .desc_mv label, .desc_mv span {
  font-size: 16px;
 }
}

.desc_date label, .desc_date span {
    color: #54616d;
}

.desc_cur label, .desc_cur span {
    color: #54616d;
}

.desc_cur.negative label, .desc_cur.negative span  {
    color: #E31D19;
}

.desc_cur.negativedeb label, .desc_cur.negativedeb span  {
    color: #E31D19;
}

.desc_cur.negativedeb label, .desc_cur.negativedeb span:before {
	content:'- ';
}

.title_mv {
	font-size: 12px;
	color: #708090;
	font-weight: bold;
}

.title_cont{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5%;
	margin-right:5%;
}

