.movement {
	margin-left: 5%; 
	margin-right: 5%; 
	background: #FFF; 
	margin-bottom: 3px; 
	padding: 3%;
	border-radius: 3px;
	text-transform: initial;
}

.movement {
	margin-bottom: 0;
}

.movement .ecDIB {
	vertical-align: middle;
}

.icon_rt {
	font-family: "Banesco";
	font-size: 32px; 
	color: #F68A70;
}

.icon_rt:before {
	content:'\E935';
}

.desc_mv {
    font-size: 14.66px;
    color: #3a4454; 
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.desc_date {
	font-size: 12px;
    color: #54616d;
}

.desc_cur {
	font-size: 16px;
    font-weight: bold;
    color: #54616d;
    /* color: #E31D19; */
}

.desc_cur.negative {
    color: #E31D19;
}
