.paddingCard
{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.u-centradoVerticalPadre
{
    position: relative;
}

.u-centradoVerticalPadre span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#PaymentFrecuentes span,
#PaymentCredit span,
#MyPaymentCreditVNZ span,
#OtherPaymentCreditVNZ span,
#PaymentServicios span,
#PaymentPrestamos span,
#PaymentProgramados span,
#TransferCuentas span,
#TransferTerceros span,
#TransferCuentasVNZ span,
#TransferTercerosVNZ span,
#TransferInternacionales span,
#Donaciones span,
#DirectorioBeneficiario span,
#HistorialMovimientos span
{
    font-family: 'Lato Regular', courier;
    font-size: 12px;
    padding-left: 20px;
    color: #3a4454;
}

.bordeBoton
{
    border-radius: 5px;
}

.ROW_paymentTDC {
  padding-left: 14px;
  padding-right: 14px;
}

.QUE_paymentTDC label{
  font-size:12px !important;
  margin-top: 12px;
  color: #54616d
}

.ANS_paymentTDC_confirm {
  margin-top: 12px;
  color: #3a4454
}

.title_paymentTDC_confirm {
  color: #3a4454;
}

.frec-body-text-dd , .frec-body-text-dd label {
  font-size: 13.33px;
  color: #708090;
}

.card-directory {
  box-shadow: 0px 4px 5px #DCE1E9;
  position: relative;
  border: 1px solid #DCE1E9;
  border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: initial;
  background: #EBF0F5
}

.card-row {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-arrow {
    line-height: 100%;
    margin-top: -1.041em;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 15px;
    padding: 0;
    width: auto;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);>
}

.right-arrow-directory {
    font-family: 'Banesco';
    font-size: 16px;
}

.right-arrow-directory::before {
  content: '\E90D';
}


.card-answer-title {
  font-size: 15.33px;
  font-family: "Lato Regular";
  color: #3a4454;
  line-height: 1px;
}

.card-answer-subtitle {
  font-size: 13.33px;
  font-family: "Lato Regular";
  color: #54616d;
}