.paddingCard
{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.u-centradoVerticalPadre
{
    position: relative;
}

.u-centradoVerticalPadre span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#PaymentFrecuentes span,
#PaymentCredit span,
#MyPaymentCreditVNZ span,
#OtherPaymentCreditVNZ span,
#PaymentServicios span,
#PaymentPrestamos span,
#PaymentProgramados span,
#TransferCuentas span,
#TransferTerceros span,
#TransferCuentasVNZ span,
#TransferTercerosVNZ span,
#TransferInternacionales span,
#Donaciones span,
#DirectorioBeneficiario span,
#HistorialMovimientos span
{
    font-family: 'Lato Regular', courier;
    font-size: 12px;
    padding-left: 20px;
    color: #3a4454;
}

.bordeBoton
{
    border-radius: 5px;
}

.ROW_paymentTDC {
  padding-left: 14px;
  padding-right: 14px;
}

.QUE_paymentTDC label{
  font-size:12px !important;
  margin-top: 12px;
  color: #54616d
}

.ANS_paymentTDC_confirm {
  margin-top: 12px;
  color: #3a4454
}

.title_paymentTDC_confirm {
  color: #3a4454;
}

.frec-body-text-dd , .frec-body-text-dd label {
  font-size: 13.33px;
  color: #708090;
}

.card-directory {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: initial;
}

.card-row {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-answer {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: normal;
}