/* Promotions Card */

.promotions-card {
	font-family: "Lato Regular";
	width: 99%;
	background: transparent;
	margin: 0px auto;
	margin-top: 12px;
	border: 1.50px dashed #A5ADB4;
	padding: 15px 15px 22px 15px;
}

		.promotions-card:first-child {
			margin-top: 6px;
		}

    .promotions-card:last-child {
			margin-bottom: 25px;
		}

.promotions-image {
	margin-bottom: 15px;
}

.promotions-predescription:before {
  content:"\2022";
  font-family: "Lato Regular"; 
  font-size: 15.33px; 
  font-weight: bold; 
  color: #007953;
} 

.promotions-description, .promotions-predescription {
  font-family: "Lato Regular";
  font-size: 15.33px;
  font-weight: bold;
  color: #3a4454;
} 

.promotions-link {
  font-size: 13px;
  color: #3a4454;
}

.promotions-link {
	text-decoration: underline !important;
	font-weight: bold;
}

.promotions-link-btn button {
   border: 0;
   font-size: 13px;
   color: #3a4454;
   background: transparent;
   font-weight: bold;
   text-decoration: underline !important;
}

/* Promotions Details */

.promotions-title {
  font-family: "Lato Regular";
  font-size: 15.33px;
  text-transform: uppercase;
  color: #3a4454;
}

.promotions-subtitle {
  font-family: "Lato Medium";
  font-size: 12px;
  text-transform: uppercase;
  color: #3a4454;
}

.promotions-details {
  background: transparent;
  margin-top: 10px;
}

.promotions-details span {
  font-family: "Lato Regular";
  font-size: 15.33px;
  font-weight: bold;
  color: #3a4454;
}

.promotions-details-card {
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 11px 11px;
}

