.switch-language {
  text-transform: initial;
  color: #3A4454;
  font-family: 'Lato Regular';
  font-size: 13.33px;
}

.switch-language-details {
  text-transform: initial;
  color: #54616D;
  font-family: 'Lato Regular';
  font-size: 13.33px;
}

.switch-language .content-wrapper {
  padding: 15px;
}

.switch-language .QUE_actual-language label{
  font-family: 'Lato Medium';
  font-size: 12px;
  color: #54616D;
  text-transform: uppercase;
}

.switch-language .dd-btn {
  background: #fff url('../img/icons/arrowdown.png') no-repeat !important;
  background-size: 15px !important;
  background-position: center !important;
}

.switch-language .advisor-text {
  margin-top: 30px;
}

.switch-language .advisor-text .advisor-title {
  margin-bottom: 15px;
}

.switch-language .advisor-text .advisor-body {}
