html, body {
  height: 100%;
  background: #EBF0F5;
  color: #556176;
}

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

/* Fonts */

h1 { font-size: 21px }
h2 { font-size: 18px }
h3 { font-size: 12px }
h4 { font-size: 12px; font-weight: bold; }

button h1 { font-size: 12px }
button h2 { font-size: 12px }

input {
  color: #A5ADB4;
}

hr {
  margin: 0;
}

.banesco_icon_navbar {
	font-family: 'Banesco';

}

.banesco_icon_navbar::before {
	content: '\E900';
    color: #FFF;
    font-size: 120px;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
	left: 0;
    right: 0;
}

/*---  STATUS - TEXTO  ---*/

.status {
  border-radius: 10px;
}
.status.status_ok { background-color: #D7ECE3; color: #1F8C6B; text-align: center;}
.status.status_ok:hover { background-color: #D1E1D6;}
.status.status_info { background-color: #F0F3F9; color: #4E74B0; text-align: center;}
.status.status_info:hover { background-color: #D1E1D6;}
.status.status_warning { background-color: #FDFAEA; color: #E8CC25; text-align: center;}
.status.status_warning:hover { background-color: #F0E7B0;}
.status.status_error { background-color: #FCE9E7; color: #F25D43; text-align: center;}
.status.status_error:hover { background-color: #FECFC9;}


/*---  ESCALA DE GRISES - TEXTO  ---*/

.text-strong, .text-strong:hover {
  color: #3A4454;
  text-decoration: none;
}

.text-normal, .text-normal:hover {
  color: #556176;
  text-decoration: none;
}

.text-light, .text-light:hover {
  color: #708090;
  text-decoration: none;
}

/*------*/

.background-section {
  background: #EBF0F6;
}

.gradient {
  filter: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.title-secondary {
  color: #00a3d4;
  font-size: 19px;
}


/* Segmented options*/

.segmented-options {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #EBF0F5;
  border: 1px solid #DCE1E9;
  border-radius: 5px;
  padding: 0.166em;
  height: 40px;
 }

.segmented-options div {
   display: block;
   height: 100%;
 }

.segmented-options > div {
   display: table-cell;
 }

.segmented-options button {
  font-weight: normal;
  font-style: normal;
   background: none;
   display: inline-block;
   height: 100%;
   border: none;
   color: #3A4454;
   border-radius: 5px;
   width: 100%;
 }

.segmented-options button.active {
   background: white;
   color: #000000;
 }

.segmented-options button:focus {
   outline: none;
 }

 .section-list-1 {
  background-color: #f4f8f9;
  border-color: #dce1e9;
  margin: 14px;
  padding: 10px;
  border-radius: 5px;
}

.question-title-list-1 {
  font-size: 14px;
  color:#3a4454;
}

.question-description-list-1 {
  font-size: 12px;
  color:#556176;
}

.list-row {
  height: 60px;
  border: 1px solid #ebf0f5;
}

.list-text {
  color: #3a4454;
  font-size: 12px;
}

.container-icon-list {
  border-right: 1px solid #ebf0f5;
  text-align: center;
}

input.ban-checkbox[type="checkbox"]{
  display: none;
}

input.ban-checkbox[type="checkbox"] + label::before{
  content:'';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #CCC;
}

input[type='radio']{
  display: none;
}

input[type='radio'] + label {
  font-size: 14px;
  font-family: "Lato Regular";
  color: #3a4454;
  text-transform: initial;
  margin-bottom: 15px;
}

input[type='radio']:last-child + label {
  margin-bottom: 0px;
}

input[type='radio'] + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px; 
  background: #FFF;
  border: 1px solid #A5ADB4;
  border-radius: 50%;
  position: relative;
  top: 3px;
}


input[type='radio']:checked + label:before {
  box-shadow: inset 0px 0 0 3px #2b5f8c;
  border: 1px solid #2b5f8c;
}

.disabled + label:before {
	background: #d9d9d9 !important;
	box-shadow: inset 0px 0 0 3px #a5a9ad;
    border: 1px solid #a5a9ad;
}

.marginT15 {
  margin-top:15px !important;
}

.marginB15 {
  margin-bottom:15px !important;
}

.marginLR15{
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.informative_card, .clickable_card {
  padding: 15px;
  position: relative;
}

.informative_card {
  background-color:#FFFFFF;
}

.clickable_card {
  background-color:#F4F8F9;
}

.clickable_card .first_line, .informative_card .first_line {
  font-family: "Lato Regular";
  font-size: 16px;
  color: #3A4454;
}

.clickable_card .second_line, .informative_card .second_line {
  font-family: "Lato Regular";
  font-size: 14px;
  color: #556176;
}

.clickable_card .action_arrow, .clickable_card .action_arrow:hover {
    position: absolute;
    right: 15px;
    font-family: 'Banesco';
    font-size: 15px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    top: 0;
    bottom: 0;
    height: 15px;
    line-height: 15px;
    margin: auto;
    background: none;
    border: none;
    outline: none;
}

.clickable_card .action_arrow::before {
  content: '\E90D';
}

.action-arrow-edit {
    top: 15px;
    display: inline-block;
    position: absolute;
    right: 15px;
    padding: 0;
    width: auto;
    background: none;
    border: none;
    outline: none;
}

.hamburger_button, .hamburger_button:hover {
  background: none !important;
  border: none;
  outline: none;
  font-family: 'Banesco';
  color: transparent;
  padding: 0;
  margin-left: 15px;
  width: 50px;
  height: 60px;
  margin-top: -10px;
}

.hamburger_button::before {
  content: '\E90E';
  color: #FFFFFF;
  font-size: 18px;
}

.postLoginProcess .hamburger_button, .postLoginProcess .hamburger_button:hover {
  margin-top: -6px;
}

.font27 {
  font-size: 27px !important;
}

.font20 {
  font-size: 20px !important;
}

.font16 {
  font-size: 16px !important;
}

.NavTitle {float:none; display:inline-block;font-family: 'Lato Regular', courier;text-align: left;color: #fff;width: 100%; font-size: 16px;height: 60px;margin-left: 10px;text-transform: capitalize; /*position: relative*/ margin-top:-10px; display: table;} /* CONTAINER FOR TITLE */
.NavTitle > div {display: table-cell; vertical-align: middle;}

@media (max-width: 360px) {
  .resizeAccountLabel {
     font-size: 20px !important; 
  } 
  .font20 {
    font-size: 16px !important;
  }

  .font16 {
    font-size: 13px !important;
  }
}
