
.tac-style .tac-head {
 	font-size:15.33px;
 	color:#54616d;
 	text-transform:initial;
 	font-family: 'Lato Bold';
  margin:15px 5px 15px 5px;}

.tac-style p {
  font-size:15.33px;
 	color:#54616d;
 	text-transform:initial;
 	font-family: 'Lato Regular';
 	margin:0px 5px 0px 5px;
}
