
.tac-style .tac-head {
 	font-size:17.33px;
 	color:#54616d;
 	text-transform:initial;
 	font-family: 'Lato Bold';
	margin:15px 0px 15px 0px;
}

.tac-style p {
  font-size:15.33px;
 	color:#54616d;
 	text-transform:initial;
 	font-family: 'Lato Regular';
 	margin:0px 0px 15px 0px;
}
