<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	 <!-- <display-name>The application name</display-name> -->
	<distributable/>
	<listener>
			<listener-class>com.edgeipk.servlet.HttpSessionHooks</listener-class>
	</listener>
	<servlet>
		<servlet-name>servletcontroller</servlet-name>
		<servlet-class>com.edgeipk.servlet.ServletControllerHooks</servlet-class>
		<init-param>
			  <param-name>SESSION_TEMP_DIR_ROOT</param-name>
			  <param-value>temp/edge_SESSIONS</param-value>
		</init-param>
		<load-on-startup>1000</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ajaxservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.AjaxServletController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>helpservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.HelpServletController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>spellcheck_entry</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.spellcheck_entry</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>spellcheck_results</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.spellcheck_results</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SOAPController</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.webservice.SOAPController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>chartservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.ChartServletController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>portletservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.PortletServletController</servlet-class>
	</servlet>	
    <servlet>
		<servlet-name>mobileUpdateServlet</servlet-name>
		<servlet-class>com.acquire.intelligentforms.MobileUpdateManagerServlet</servlet-class>
	</servlet>    
	<servlet-mapping>
		<servlet-name>servletcontroller</servlet-name>
		<url-pattern>/servletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ajaxservletcontroller</servlet-name>
		<url-pattern>/ajaxservletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>helpservletcontroller</servlet-name>
		<url-pattern>/helpservletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spellcheck_entry</servlet-name>
		<url-pattern>/spellcheck_entry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spellcheck_results</servlet-name>
		<url-pattern>/spellcheck_results</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SOAPController</servlet-name>
		<url-pattern>/SOAPController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chartservletcontroller</servlet-name>
		<url-pattern>/chartServletController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>portletservletcontroller</servlet-name>
		<url-pattern>/portletServletController</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
              <servlet-name>mobileUpdateServlet</servlet-name>
             <url-pattern>/mobileUpdate</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>400</error-code>
		<location>/jsp/errorpage/400.jsp</location>
 	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/errorpage/403.jsp</location>
 	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/errorpage/404.jsp</location>
 	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/errorpage/500.jsp</location>
 	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/jsp/errorpage/501.jsp</location>
 	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/jsp/errorpage/502.jsp</location>
 	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/jsp/errorpage/503.jsp</location>
 	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/jsp/errorpage/504.jsp</location>
 	</error-page>
	<!-- Security Stuff -->
	<security-constraint>
		<!-- With no role-name in the auth-constraint, this blocks access to below files even when authenticated -->
    	<web-resource-collection>
        		<web-resource-name>Retail</web-resource-name>
        		<url-pattern>*.tpl</url-pattern>
				<url-pattern>*.wgt</url-pattern>
				<url-pattern>*.log</url-pattern>
				<url-pattern>*.xml</url-pattern>
				<url-pattern>*.xsl</url-pattern>
				<url-pattern>*.java</url-pattern>
		</web-resource-collection>
    	<auth-constraint>
		</auth-constraint> 	
	</security-constraint>
 
</web-app>
