//
// Icon Font: font_icons8
//

@font-face {
  font-family: "font_icons8";
  src: font-url("font_icons8.eot");
  src: font-url("font_icons8.eot?#iefix") format("embedded-opentype"),
       font-url("font_icons8.woff") format("woff"),
       font-url("font_icons8.ttf") format("truetype"),
       font-url("font_icons8.svg#font_icons8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font_icons8";
    src: font-url("font_icons8.svg#font_icons8") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icons8-about:before,
.icons8-about-2:before,
.icons8-add-image:before,
.icons8-add-image-2:before,
.icons8-add-image-3:before,
.icons8-add-user:before,
.icons8-add-user-2:before,
.icons8-add-user-3:before,
.icons8-appointment-reminders:before,
.icons8-appointment-reminders-2:before,
.icons8-arrow:before,
.icons8-arrow-2:before,
.icons8-available-updates:before,
.icons8-bank-cards:before,
.icons8-bank-cards-2:before,
.icons8-banknotes:before,
.icons8-banknotes-2:before,
.icons8-banknotes-3:before,
.icons8-bill:before,
.icons8-bill-2:before,
.icons8-calendar:before,
.icons8-calendar-2:before,
.icons8-cancel:before,
.icons8-cancel-2:before,
.icons8-car:before,
.icons8-card-in-use:before,
.icons8-card-in-use-2:before,
.icons8-card-in-use-3:before,
.icons8-card-inserting:before,
.icons8-card-inserting-2:before,
.icons8-card-inserting-3:before,
.icons8-cars:before,
.icons8-cash-receiving:before,
.icons8-cash-receiving-2:before,
.icons8-change-user:before,
.icons8-change-user-2:before,
.icons8-check-book:before,
.icons8-check-book-2:before,
.icons8-checkmark:before,
.icons8-checkmark-2:before,
.icons8-checkmark-3:before,
.icons8-clock:before,
.icons8-clock-2:before,
.icons8-clock-3:before,
.icons8-close:before,
.icons8-coins:before,
.icons8-coins-2:before,
.icons8-control-panel:before,
.icons8-control-panel-2:before,
.icons8-control-panel-3:before,
.icons8-convertible:before,
.icons8-cottage:before,
.icons8-cottage-2:before,
.icons8-cottage-3:before,
.icons8-credit-card:before,
.icons8-currency:before,
.icons8-currency-2:before,
.icons8-data-in-both-directions:before,
.icons8-data-in-both-directions-2:before,
.icons8-data-in-both-directions-3:before,
.icons8-define-location:before,
.icons8-define-location-2:before,
.icons8-define-location-3:before,
.icons8-department:before,
.icons8-department-2:before,
.icons8-donate:before,
.icons8-donate-2:before,
.icons8-edit:before,
.icons8-edit-2:before,
.icons8-exit:before,
.icons8-feedback:before,
.icons8-feedback-2:before,
.icons8-filled-filter:before,
.icons8-filled-filter-2:before,
.icons8-filter-filled:before,
.icons8-generic-sorting:before,
.icons8-generic-sorting-2:before,
.icons8-group:before,
.icons8-group-2:before,
.icons8-group-3:before,
.icons8-handle-with-care:before,
.icons8-handle-with-care-2:before,
.icons8-info:before,
.icons8-invisible:before,
.icons8-invisible-2:before,
.icons8-invisible-3:before,
.icons8-line-chart:before,
.icons8-line-chart-2:before,
.icons8-line-chart-3:before,
.icons8-link:before,
.icons8-link-2:before,
.icons8-link-3:before,
.icons8-list:before,
.icons8-list-2:before,
.icons8-location:before,
.icons8-logout:before,
.icons8-map:before,
.icons8-map-2:before,
.icons8-map-3:before,
.icons8-marker:before,
.icons8-marker-2:before,
.icons8-menu:before,
.icons8-menu-2:before,
.icons8-menu-3:before,
.icons8-message:before,
.icons8-message-2:before,
.icons8-message-3:before,
.icons8-money:before,
.icons8-museum:before,
.icons8-museum-2:before,
.icons8-museum-3:before,
.icons8-new:before,
.icons8-new-2:before,
.icons8-new-message:before,
.icons8-new-message-2:before,
.icons8-overtime:before,
.icons8-overtime-2:before,
.icons8-paint-palette:before,
.icons8-paint-palette-2:before,
.icons8-paper-plane:before,
.icons8-pencil:before,
.icons8-phone:before,
.icons8-phone-2:before,
.icons8-phone1:before,
.icons8-plus:before,
.icons8-plus-2:before,
.icons8-plus-3:before,
.icons8-plus2-math:before,
.icons8-pos-terminal:before,
.icons8-pos-terminal-2:before,
.icons8-purchase-order:before,
.icons8-purchase-order-2:before,
.icons8-resize-vertical:before,
.icons8-restore-window:before,
.icons8-right:before,
.icons8-safe:before,
.icons8-safe-2:before,
.icons8-save:before,
.icons8-save-as:before,
.icons8-scales:before,
.icons8-scales-2:before,
.icons8-scales-of-balance:before,
.icons8-search:before,
.icons8-search-2:before,
.icons8-search-3:before,
.icons8-search-property:before,
.icons8-search-property-2:before,
.icons8-select-all:before,
.icons8-select-all-2:before,
.icons8-sell:before,
.icons8-sell-2:before,
.icons8-sent:before,
.icons8-sent-2:before,
.icons8-settings:before,
.icons8-settings-2:before,
.icons8-settings-3:before,
.icons8-settings-wrench:before,
.icons8-sinchronize:before,
.icons8-stop:before,
.icons8-stop-2:before,
.icons8-support:before,
.icons8-support-2:before,
.icons8-switch:before,
.icons8-switch-2:before,
.icons8-timer:before,
.icons8-timer-2:before,
.icons8-timer-3:before,
.icons8-tones:before,
.icons8-trekking:before,
.icons8-trekking-2:before,
.icons8-trekking-3:before,
.icons8-update:before,
.icons8-user:before,
.icons8-user-2:before,
.icons8-user-male3:before,
.icons8-virtual-machine:before,
.icons8-visible:before,
.icons8-visible-2:before,
.icons8-visible-3:before,
.icons8-wallet:before,
.icons8-wallet-2:before,
.icons8-wallet-3:before {
  display: inline-block;
  font-family: "font_icons8";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-about:before { content: "\f100"; }
.icons8-about-2:before { content: "\f101"; }
.icons8-add-image:before { content: "\f102"; }
.icons8-add-image-2:before { content: "\f103"; }
.icons8-add-image-3:before { content: "\f104"; }
.icons8-add-user:before { content: "\f105"; }
.icons8-add-user-2:before { content: "\f106"; }
.icons8-add-user-3:before { content: "\f107"; }
.icons8-appointment-reminders:before { content: "\f108"; }
.icons8-appointment-reminders-2:before { content: "\f109"; }
.icons8-arrow:before { content: "\f10a"; }
.icons8-arrow-2:before { content: "\f10b"; }
.icons8-available-updates:before { content: "\f10c"; }
.icons8-bank-cards:before { content: "\f10d"; }
.icons8-bank-cards-2:before { content: "\f10e"; }
.icons8-banknotes:before { content: "\f10f"; }
.icons8-banknotes-2:before { content: "\f110"; }
.icons8-banknotes-3:before { content: "\f111"; }
.icons8-bill:before { content: "\f112"; }
.icons8-bill-2:before { content: "\f113"; }
.icons8-calendar:before { content: "\f114"; }
.icons8-calendar-2:before { content: "\f115"; }
.icons8-cancel:before { content: "\f116"; }
.icons8-cancel-2:before { content: "\f117"; }
.icons8-car:before { content: "\f118"; }
.icons8-card-in-use:before { content: "\f119"; }
.icons8-card-in-use-2:before { content: "\f11a"; }
.icons8-card-in-use-3:before { content: "\f11b"; }
.icons8-card-inserting:before { content: "\f11c"; }
.icons8-card-inserting-2:before { content: "\f11d"; }
.icons8-card-inserting-3:before { content: "\f11e"; }
.icons8-cars:before { content: "\f11f"; }
.icons8-cash-receiving:before { content: "\f120"; }
.icons8-cash-receiving-2:before { content: "\f121"; }
.icons8-change-user:before { content: "\f122"; }
.icons8-change-user-2:before { content: "\f123"; }
.icons8-check-book:before { content: "\f124"; }
.icons8-check-book-2:before { content: "\f125"; }
.icons8-checkmark:before { content: "\f126"; }
.icons8-checkmark-2:before { content: "\f127"; }
.icons8-checkmark-3:before { content: "\f128"; }
.icons8-clock:before { content: "\f129"; }
.icons8-clock-2:before { content: "\f12a"; }
.icons8-clock-3:before { content: "\f12b"; }
.icons8-close:before { content: "\f12c"; }
.icons8-coins:before { content: "\f12d"; }
.icons8-coins-2:before { content: "\f12e"; }
.icons8-control-panel:before { content: "\f12f"; }
.icons8-control-panel-2:before { content: "\f130"; }
.icons8-control-panel-3:before { content: "\f131"; }
.icons8-convertible:before { content: "\f132"; }
.icons8-cottage:before { content: "\f133"; }
.icons8-cottage-2:before { content: "\f134"; }
.icons8-cottage-3:before { content: "\f135"; }
.icons8-credit-card:before { content: "\f136"; }
.icons8-currency:before { content: "\f137"; }
.icons8-currency-2:before { content: "\f138"; }
.icons8-data-in-both-directions:before { content: "\f139"; }
.icons8-data-in-both-directions-2:before { content: "\f13a"; }
.icons8-data-in-both-directions-3:before { content: "\f13b"; }
.icons8-define-location:before { content: "\f13c"; }
.icons8-define-location-2:before { content: "\f13d"; }
.icons8-define-location-3:before { content: "\f13e"; }
.icons8-department:before { content: "\f13f"; }
.icons8-department-2:before { content: "\f140"; }
.icons8-donate:before { content: "\f141"; }
.icons8-donate-2:before { content: "\f142"; }
.icons8-edit:before { content: "\f143"; }
.icons8-edit-2:before { content: "\f144"; }
.icons8-exit:before { content: "\f145"; }
.icons8-feedback:before { content: "\f146"; }
.icons8-feedback-2:before { content: "\f147"; }
.icons8-filled-filter:before { content: "\f148"; }
.icons8-filled-filter-2:before { content: "\f149"; }
.icons8-filter-filled:before { content: "\f14a"; }
.icons8-generic-sorting:before { content: "\f14b"; }
.icons8-generic-sorting-2:before { content: "\f14c"; }
.icons8-group:before { content: "\f14d"; }
.icons8-group-2:before { content: "\f14e"; }
.icons8-group-3:before { content: "\f14f"; }
.icons8-handle-with-care:before { content: "\f150"; }
.icons8-handle-with-care-2:before { content: "\f151"; }
.icons8-info:before { content: "\f152"; }
.icons8-invisible:before { content: "\f153"; }
.icons8-invisible-2:before { content: "\f154"; }
.icons8-invisible-3:before { content: "\f155"; }
.icons8-line-chart:before { content: "\f156"; }
.icons8-line-chart-2:before { content: "\f157"; }
.icons8-line-chart-3:before { content: "\f158"; }
.icons8-link:before { content: "\f159"; }
.icons8-link-2:before { content: "\f15a"; }
.icons8-link-3:before { content: "\f15b"; }
.icons8-list:before { content: "\f15c"; }
.icons8-list-2:before { content: "\f15d"; }
.icons8-location:before { content: "\f15e"; }
.icons8-logout:before { content: "\f15f"; }
.icons8-map:before { content: "\f160"; }
.icons8-map-2:before { content: "\f161"; }
.icons8-map-3:before { content: "\f162"; }
.icons8-marker:before { content: "\f163"; }
.icons8-marker-2:before { content: "\f164"; }
.icons8-menu:before { content: "\f165"; }
.icons8-menu-2:before { content: "\f166"; }
.icons8-menu-3:before { content: "\f167"; }
.icons8-message:before { content: "\f168"; }
.icons8-message-2:before { content: "\f169"; }
.icons8-message-3:before { content: "\f16a"; }
.icons8-money:before { content: "\f16b"; }
.icons8-museum:before { content: "\f16c"; }
.icons8-museum-2:before { content: "\f16d"; }
.icons8-museum-3:before { content: "\f16e"; }
.icons8-new:before { content: "\f16f"; }
.icons8-new-2:before { content: "\f170"; }
.icons8-new-message:before { content: "\f171"; }
.icons8-new-message-2:before { content: "\f172"; }
.icons8-overtime:before { content: "\f173"; }
.icons8-overtime-2:before { content: "\f174"; }
.icons8-paint-palette:before { content: "\f175"; }
.icons8-paint-palette-2:before { content: "\f176"; }
.icons8-paper-plane:before { content: "\f177"; }
.icons8-pencil:before { content: "\f178"; }
.icons8-phone:before { content: "\f179"; }
.icons8-phone-2:before { content: "\f17a"; }
.icons8-phone1:before { content: "\f17b"; }
.icons8-plus:before { content: "\f17c"; }
.icons8-plus-2:before { content: "\f17d"; }
.icons8-plus-3:before { content: "\f17e"; }
.icons8-plus2-math:before { content: "\f17f"; }
.icons8-pos-terminal:before { content: "\f180"; }
.icons8-pos-terminal-2:before { content: "\f181"; }
.icons8-purchase-order:before { content: "\f182"; }
.icons8-purchase-order-2:before { content: "\f183"; }
.icons8-resize-vertical:before { content: "\f184"; }
.icons8-restore-window:before { content: "\f185"; }
.icons8-right:before { content: "\f186"; }
.icons8-safe:before { content: "\f187"; }
.icons8-safe-2:before { content: "\f188"; }
.icons8-save:before { content: "\f189"; }
.icons8-save-as:before { content: "\f18a"; }
.icons8-scales:before { content: "\f18b"; }
.icons8-scales-2:before { content: "\f18c"; }
.icons8-scales-of-balance:before { content: "\f18d"; }
.icons8-search:before { content: "\f18e"; }
.icons8-search-2:before { content: "\f18f"; }
.icons8-search-3:before { content: "\f190"; }
.icons8-search-property:before { content: "\f191"; }
.icons8-search-property-2:before { content: "\f192"; }
.icons8-select-all:before { content: "\f193"; }
.icons8-select-all-2:before { content: "\f194"; }
.icons8-sell:before { content: "\f195"; }
.icons8-sell-2:before { content: "\f196"; }
.icons8-sent:before { content: "\f197"; }
.icons8-sent-2:before { content: "\f198"; }
.icons8-settings:before { content: "\f199"; }
.icons8-settings-2:before { content: "\f19a"; }
.icons8-settings-3:before { content: "\f19b"; }
.icons8-settings-wrench:before { content: "\f19c"; }
.icons8-sinchronize:before { content: "\f19d"; }
.icons8-stop:before { content: "\f19e"; }
.icons8-stop-2:before { content: "\f19f"; }
.icons8-support:before { content: "\f1a0"; }
.icons8-support-2:before { content: "\f1a1"; }
.icons8-switch:before { content: "\f1a2"; }
.icons8-switch-2:before { content: "\f1a3"; }
.icons8-timer:before { content: "\f1a4"; }
.icons8-timer-2:before { content: "\f1a5"; }
.icons8-timer-3:before { content: "\f1a6"; }
.icons8-tones:before { content: "\f1a7"; }
.icons8-trekking:before { content: "\f1a8"; }
.icons8-trekking-2:before { content: "\f1a9"; }
.icons8-trekking-3:before { content: "\f1aa"; }
.icons8-update:before { content: "\f1ab"; }
.icons8-user:before { content: "\f1ac"; }
.icons8-user-2:before { content: "\f1ad"; }
.icons8-user-male3:before { content: "\f1ae"; }
.icons8-virtual-machine:before { content: "\f1af"; }
.icons8-visible:before { content: "\f1b0"; }
.icons8-visible-2:before { content: "\f1b1"; }
.icons8-visible-3:before { content: "\f1b2"; }
.icons8-wallet:before { content: "\f1b3"; }
.icons8-wallet-2:before { content: "\f1b4"; }
.icons8-wallet-3:before { content: "\f1b5"; }
