<?xml version="1.0" encoding="UTF-8"?><LanguageMap presentations="Default" project="Settings" sourcelanguage="en-UK" targetlanguage="de" updated="11/24/14 3:40 PM" version="1">
  <Comment/>
  <ProcessEntities>
    <ProcessEntity class="com.acquire.intelligentforms.entities.Product" displayString="Settings" eid="88313E3F4137876448784" path="Settings" type="Process">
      <ProcessEntityAttr default="" name="HelpIconHint" original="" state="NEW">
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationFormatBreak" forPresObjects="3492D4D49CC7CC5A17628:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationProduct" forPresObjects="88313E3F4137876448825:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationPhase" forPresObjects="88313E3F4137876448826:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationFormatBreak" forPresObjects="3492D4D49CC7CC5A17656:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationPhase" forPresObjects="FF8E8A10A5F0F2B160369:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
        <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationFormatBreak" forPresObjects="3492D4D49CC7CC5A17661:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448784:Process" state="NEW" status="NEW" value=""/>
      </ProcessEntityAttr>
      <Container class="com.acquire.intelligentforms.entities.Phase" displayString="Settings" eid="88313E3F4137876448797" type="Phase">
        <ProcessEntity class="com.acquire.intelligentforms.entities.Question" displayString="Shake to Log Off" eid="88313E3F4137876448952" path="Settings.Settings.Shake to Log Off" type="Question">
          <ProcessEntityAttr default="" name="AnswerPostfix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="AnswerPrefix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="OVERRIDE" original="Shake to Log Off" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="MandMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="QuestionListDefault" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ValidationMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448953:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448952:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.Heading" displayString="You can use your phone's motion sensors to log off or navigate." eid="88313E3F4137876448958" path="Settings.Settings.You can use your phone's motion sensors to log off or navigate." type="Heading">
          <ProcessEntityAttr default="" name="ColumnHeading" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448959:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448958:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448959:Default" mappingType="OVERRIDE" original="You can use your phone's motion sensors to log off or navigate." specifiedBy="88313E3F4137876448958:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448959:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448958:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876448959:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448958:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.Question" displayString="Face Down to Log Off" eid="88313E3F4137876449003" path="Settings.Settings.Face Down to Log Off" type="Question">
          <ProcessEntityAttr default="" name="AnswerPostfix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="AnswerPrefix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="OVERRIDE" original="Face Down to Log Off" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="MandMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="QuestionListDefault" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ValidationMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449004:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449003:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.Heading" displayString="When your phone is placed face down on a surface the app will log off." eid="88313E3F4137876449007" path="Settings.Settings.When your phone is placed face down on a surface the app will log off." type="Heading">
          <ProcessEntityAttr default="" name="ColumnHeading" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449008:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449007:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449008:Default" mappingType="OVERRIDE" original="When your phone is placed face down on a surface the app will log off." specifiedBy="88313E3F4137876449007:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449008:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449007:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="88313E3F4137876449008:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876449007:Heading" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.Question" displayString="Active" eid="6D5D616D78D152B560727" path="Settings.Settings.Active" type="Question">
          <ProcessEntityAttr default="" name="AnswerPostfix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="AnswerPrefix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="OVERRIDE" original="Active" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="InvalidMaxLengthMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="InvalidMinLengthMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="MandMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="QuestionListDefault" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ValidationMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="6D5D616D78D152B560728:Default" mappingType="PLACEHOLDER" original="" specifiedBy="6D5D616D78D152B560727:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.Question" displayString="Active" eid="E92D8916053FD16D40649" path="Settings.Settings.Active" type="Question">
          <ProcessEntityAttr default="" name="AnswerPostfix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="AnswerPrefix" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="DisplayText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="OVERRIDE" original="Active" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="InvalidMaxLengthMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="InvalidMinLengthMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="MandMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="QuestionListDefault" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ValidationMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationQuestion" forPresObjects="E92D8916053FD16D40650:Default" mappingType="PLACEHOLDER" original="" specifiedBy="E92D8916053FD16D40649:Question" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
        <ProcessEntity class="com.acquire.intelligentforms.entities.FormButton" displayString="Done" eid="88313E3F4137876448811" path="Settings.Settings.Done" type="Button">
          <ProcessEntityAttr default="" name="ButtonText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationButton" forPresObjects="88313E3F4137876448828:Default" mappingType="OVERRIDE" original="Done" specifiedBy="88313E3F4137876448828:Rich Presentation Button" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ColumnHeading" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationButton" forPresObjects="88313E3F4137876448828:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448811:Button" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="ConfirmationMessage" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationButton" forPresObjects="88313E3F4137876448828:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448811:Button" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HelpText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationButton" forPresObjects="88313E3F4137876448828:Default" mappingType="PLACEHOLDER" original="" specifiedBy="88313E3F4137876448811:Button" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
          <ProcessEntityAttr default="" name="HintText" original="" state="NEW">
            <Attr forPresClasses="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationButton" forPresObjects="88313E3F4137876448828:Default" mappingType="OVERRIDE" original="Done" specifiedBy="88313E3F4137876448811:Button" state="NEW" status="NEW" value=""/>
          </ProcessEntityAttr>
        </ProcessEntity>
      </Container>
    </ProcessEntity>
  </ProcessEntities>
  <Designs/>
  <PresentationOnlyObjects>
    <PresentationType class="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationType" displayString="Default" eid="88313E3F4137876448824" path="Default" type="Rich Presentation Type">
      <Attribute mappingType="OVERRIDE" name="BackButtonText" original="Back" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="BackConfirmationMessage" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="BackHelpText" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="BackHintText" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="DateFormat" original="DD/MM/YYYY" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="DecimalSymbol" original="." state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="DigitGroupSymbol" original="," state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="EditTheme" original="N" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="ForwardButtonText" original="Continue" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="ForwardConfirmationMessage" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="ForwardHelpText" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="PLACEHOLDER" name="ForwardHintText" original="" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="HelpIconHint" original="Help" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidAlphaMessage" original="Please re-enter using letters" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidAlphaNumericMessage" original="Please re-enter using letters and numbers" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidDateMessage" original="Please enter a valid date in the form: $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidDaysInMonthMessage" original="There are not that many days in the specified month" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidDecimalMessage" original="Please enter a valid decimal number" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidLeapYearMessage" original="The specified year is not a leap year" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMaxDateMessage" original="The latest date is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMaxFileSizeMessage" original="The maximum file size allowed is $$QUESTION_CONSTRAINT$k" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMaxLengthMessage" original="The maximum length is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMaxValueMessage" original="The maximum value is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMinDateMessage" original="The earliest date is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMinLengthMessage" original="The minimum length is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidMinValueMessage" original="The minimum value is $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidNumMessage" original="Please enter a valid number" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidTimeMessage" original="Please enter a valid time in the form: $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="InvalidUploadTypeMessage" original="The valid file types you are allowed to upload are: $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="LayoutDirection" original="ltr" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="MandMessage" original="Please answer all the required questions marked with a $$QUESTION_CONSTRAINT$" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="QuestionListDefault" original="- Please Select" state="NEW" status="NEW" value=""/>
      <Attribute mappingType="OVERRIDE" name="ValidationMessage" original="Please enter a valid value" state="NEW" status="NEW" value=""/>
      <Container class="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationProduct" displayString="Settings" eid="88313E3F4137876448825" type="Rich Presentation Process">
        <Container class="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationPhase" displayString="Settings" eid="88313E3F4137876448826" type="Rich Presentation Phase">
          <PresentationObject class="com.acquire.intelligentforms.entities.presentation.html.waihtml.richhtml.RichHTMLPresentationText" displayString="SetBodyClass" eid="0D7E3B588D96A4BA14214" path="Default.Settings.Settings.SetBodyClass" type="SetBodyClass">
            <Attribute mappingType="PLACEHOLDER" name="Text" original="" state="NEW" status="NEW" value=""/>
          </PresentationObject>
        </Container>
      </Container>
    </PresentationType>
  </PresentationOnlyObjects>
  <Rules>
    <MasterRules>
      <Leaf class="com.acquire.intelligentforms.rules.SetValueRule" displayString="Set TopNavigation Title to Settings" eid="45A8677DDC65970156472" leafType="link" path="Settings.Settings.Set TopNavigation Title to Settings" type="Set Value Rule"/>
      <Leaf class="com.acquire.intelligentforms.rules.SetValueRule" displayString="Set TopNavigation Back Button Text to Cancel" eid="C01496F921DB4DDD164429" leafType="link" path="Settings.Settings.Set TopNavigation Back Button Text to Cancel" type="Set Value Rule"/>
    </MasterRules>
    <Container class="com.acquire.intelligentforms.entities.Product" displayString="Settings" eid="88313E3F4137876448784" type="Process">
      <Container class="com.acquire.intelligentforms.entities.Phase" displayString="Settings" eid="88313E3F4137876448797" type="Phase">
        <Rule class="com.acquire.intelligentforms.rules.SetValueRule" displayString="Set TopNavigation Title to Settings" eid="45A8677DDC65970156472" path="Settings.Settings.Set TopNavigation Title to Settings" type="Set Value Rule">
          <Attribute mappingType="OVERRIDE" name="FromMessage" original="Settings" state="NEW" status="NEW" value=""/>
        </Rule>
        <Rule class="com.acquire.intelligentforms.rules.SetValueRule" displayString="Set TopNavigation Back Button Text to Cancel" eid="C01496F921DB4DDD164429" path="Settings.Settings.Set TopNavigation Back Button Text to Cancel" type="Set Value Rule">
          <Attribute mappingType="OVERRIDE" name="FromMessage" original="Cancel" state="NEW" status="NEW" value=""/>
        </Rule>
      </Container>
    </Container>
  </Rules>
  <Lists>
    <List eid="46FA8D04A6F5DC321395" listName="YesNo" reset="True">
      <ListItem eid="46FA8D04A6F5DC321396" group="" groupState="NEW" key="Y" original="Yes" remove="" state="NEW" value=""/>
      <ListItem eid="46FA8D04A6F5DC321397" group="" groupState="NEW" key="N" original="No" remove="" state="NEW" value=""/>
    </List>
  </Lists>
</LanguageMap>
