.tab-container {
  width: 100%;
  height: 100%;
}

  .tab-container .tab-menu {
    width: 100%;
    height: 100%;
    display: table;
    font-size: 0.83em;
    margin-bottom: 0px;
    padding: 0px;
  }

    .tab-container .tab-menu a {
      color: #3a4454;
      font-size: 12px;
      text-decoration: none;
      height: 50px;
    }

    .tab-container .tab-menu > li:first-child {
      border-radius: 12px 0px 0px 0px;
    }

    .tab-container .tab-menu .last-li {
      border-radius: 0px 12px 0px 0px;
    }

  .tab-container .tab-submenu {
    padding: 20px 2px 20px 2px;
    display: table-cell;
    border-collapse: collapse;
    height: 50px;
    vertical-align: middle;
    margin: 0px -2px 0px -2px;
    border: 2px solid #dce1e9;
    width: 30%;
    background: #ebf0f5;
    text-align: center;
  }

  .tab-container .tab-selected {
    background: #fff;
    color: #2b5f8c;
    border-bottom: 0;
    border-top: 3px solid #2b5f8c;
    border-radius: 0px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-collapse: collapse;
  }
